<template>
  <Layout>
    <product-list/>
  </Layout>
</template>

<script>
import ProductList from "../components/ProductList";
export default {
  components: {ProductList},
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
