<template>
  <v-menu
    v-model="fromDateMenu"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="290px"
  >
    <template #activator="{ on }">
      <v-text-field
        label="From"
        prepend-icon="event"
        readonly
        :value="fromDateDisp"
        v-on="on"
        dense
        style=""
      ></v-text-field>
    </template>
    <v-date-picker
      v-model="fromDateVal"
      locale="en-in"
      no-title
      @input="handleDateInput"
    ></v-date-picker>
  </v-menu>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      fromDateMenu: false,
      fromDateVal: null
    }
  },
  computed: {
    fromDateDisp() {
      return this.fromDateVal
    }
  },
  methods: {
    ...mapActions({
      fetchProducts: 'producthunt/fetchProducts'
    }),
    handleDateInput() {
      this.fetchProducts(this.getMidnightIsoStringFromDate(this.fromDateVal))
      this.fromDateMenu = false
    },
    /**
     * From AAAA-MM-YY to an iso string
     * @param dateVal
     * @returns {string}
     */
    getMidnightIsoStringFromDate(dateVal) {
      const dateTime = new Date(`${dateVal} 23:59`)
      return dateTime.toISOString()
    }
  }
}
</script>
<style>
.v-input__control {
  flex-direction: inherit !important;
  flex-wrap: inherit !important;
}
</style>
