<template>
  <v-container class="job-list-container">
    <v-row>
      <v-col
        v-for="(product, index) in products"
        :key="index"
        cols="12"
        sm="3"
        md="4"
      >
        <v-card class="mx-auto my-12" max-width="374">
          <template slot="progress">
            <v-progress-linear
              color="deep-purple"
              height="10"
              indeterminate
            ></v-progress-linear>
          </template>

          <v-img height="250" :src="product.thumbnail.url"></v-img>

          <v-card-title>{{ product.name }}</v-card-title>

          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-rating
                :value="product.reviewsRating"
                color="amber"
                dense
                half-increments
                readonly
                size="14"
              ></v-rating>

              <div class="grey--text ml-4">
                {{ product.reviewsRating }} ({{ product.reviewsCount }} )
              </div>
            </v-row>
            <v-row class="mx-0">
              <div>{{ product.description }}</div>
            </v-row>

            <v-row class="mx-0">
              <div>
                <v-icon>mdi-archive-clock</v-icon>
                {{ product.createdAt | dateFrench }}
              </div>
            </v-row>
            <v-row class="mx-0">
              <div>
                <v-icon>mdi-account-circle</v-icon> {{ product.user.username }}
              </div>
            </v-row>
          </v-card-text>

          <v-divider class="mx-4"></v-divider>
          <v-card-actions>
            <v-btn
              color="deep-purple lighten-2"
              text
              :href="product.website"
              target="_blank"
            >
              go see product
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-btn color="deep-purple lighten-2" text @click="loadMoreProduct"
        >Voir plus</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ProductList',
  methods: {
    ...mapActions({
      loadMoreProduct: 'producthunt/loadMoreProduct'
    })
  },
  computed: {
    ...mapState({
      products: state => state.producthunt.products
    })
  }
}
</script>

<style scoped></style>
