<template>
  <v-app-bar dense rounded dark fixed floating>
    <v-icon>mdi-boxing-glove</v-icon>
    <span class="title">Hunt Search</span>
    <date-picker></date-picker>
  </v-app-bar>
</template>

<script>
import DatePicker from './DatePicker'
export default {
  name: 'Toolbar',
  components: {
    DatePicker
  }
}
</script>

<style scoped>
.title {
  margin: 0 10px 0 10px;
}
</style>
